<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>글 작성</title>
</head>
<body>

<div >
    <div th:text="|작성자 : ${member.username}|">유저이름</div>
    <form th:action th:object="${board}" method="post" enctype="multipart/form-data">
        <input type="text" th:field="*{title}" placeholder="title"/>
        <input type="text" th:field="*{content}" placeholder="content"/>

        <div>삭제할 이미지 선택</div>
        <br/>
        <div th:each="imageId : *{images}">
            <img th:src="|/image/${imageId}|"  width="300" height="300"/>
            <br/>
            <input type="checkbox" name="deleteImages" th:value="${imageId}"/>
        </div>
        <br/>
        <div> 추가할 이미지 선택</div>
        <input type="file" multiple name="addImages"/>
        <input type="submit"/>
    </form>
</div>

</body>
</html>