<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>홈</title>
</head>
<body>
<h1> 인덱스 페이지 입니다. </h1>
<hr/>

<div>
    <div th:if="${member == null}">
        <div>로그인을 먼저 진행해 주세요.</div>
        <button type="button" th:text="로그인하기" th:onclick="|location.href='@{/login}'|">로그인</button>
    </div>
    <div th:unless="${member == null}">
        <div th:text="|${member.username}님 어서오세요.|">유저님 어서오세요.</div>
        <br/>
        <button type="button" th:text="유저정보" th:onclick="|location.href='@{/user}'|">정보</button>
        <button type="button" th:text="로그아웃" th:onclick="|location.href='@{/logout}'|">로그아웃</button>
    </div>
</div>
<br/>
<div><button type="button" th:text="게시판" th:onclick="|location.href='@{/board}'|"></button></div>
<hr/>
<th:block th:replace="~{board/fragment/boardList :: boardList(boardList=${boardList})}"></th:block>
</body>
</html>