<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="|${member.username}님의 유저 정보 페이지|">유저 정보 페이지</title>
<script th:inline="javascript">
    var baseUserUrl = [[${baseUserUrl}]];
    const following = 'following';
    const notFollowing = 'not following';
    const followingButton = 'followingButton';

    changeFollowingButton = (isFollowing) => {
        if(isFollowing == true){
            document.getElementById(followingButton).innerText = notFollowing;
        }else{
            document.getElementById(followingButton).innerText = following;
        }
    }

    window.onload = () => {
        var url = baseUserUrl + [[${member.id}]] + "/is-following";
        fetch(url)
            .then(response => {
                return response.json();
            }).then(isFollowing => {
                console.log(isFollowing);
                changeFollowingButton(isFollowing);
            })
    }

    onClickFollowingButton = (e) => {
        fetch(baseUserUrl + [[${member.id}]] + "/is-following")
            .then(response => {
                return response.json();
            })
            .then(isFollowing => {
                var url;
                if(isFollowing == true){
                    url = baseUserUrl + [[${member.id}]] + "/un-follow";
                }else{
                    url = baseUserUrl + [[${member.id}]] + "/follow";
                }
                fetch(url)
                    .then(response => {
                        return response.json();
                    })
                    .then(isFollowing => {
                        changeFollowingButton(isFollowing);
                    })
            })
    }
</script>
</head>
<body>
<h1 th:text="|${member.username}님의 유저 정보 페이지|">유저 정보 페이지</h1>
<hr/>



<div th:object="${member}">
    <p th:field="*{username}" th:text="|username : *{username}|"></p>
    <p th:field="*{email}" th:text="|email : *{email}|"></p>
    <p th:field="*{role}" th:text="|role : *{role}|"></p>
    <br/>
</div>
<button type="button" th:text="홈으로이동" th:onclick="|location.href='@{/}'|"></button>
<br/>
<button type="button" id="followingButton" onclick="onClickFollowingButton(this)"></button>
<br/>
<div th:replace="~{board/fragment/boardList :: boardList(boardList=${boardList})}"></div>
<hr/>
<div>팔로잉 목록</div>
<div th:replace="~{user/fragment/userList :: memberList(memberList=${followingList})}"></div>
</body>
</html>