<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="|${member.username}님의 유저 정보 페이지|">유저 정보 페이지</title>
</head>
<body>
<h1 th:text="|${member.username}님의 유저 정보 페이지|">유저 정보 페이지</h1>
<hr/>

<div th:object="${member}">
    <p th:field="*{username}" th:text="|username : *{username}|"></p>
    <p th:field="*{email}" th:text="|email : *{email}|"></p>
    <p th:field="*{role}" th:text="|role : *{role}|"></p>
    <p th:field="*{provider}" th:text="|provider : *{provider}|"></p>
    <p th:field="*{providerId}" th:text="|providerId : *{providerId}|"></p>

    <br/>
</div>
<button type="button" th:text="홈으로이동" th:onclick="|location.href='@{/}'|"/>
<button type="button" th:text="정보수정" th:onclick="|location.href='@{/user/update}'|"/>
<button type="button" th:text="비밀번호수정" th:onclick="|location.href='@{/user/update/pwd}'|"/>

<div th:replace="~{board/boardList :: boardList(boardList=${boardList})}"></div>

</body>
</html>