<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>전체 유저 정보</title>
    <style>
        table {
          width: 100%;
          border: 1px solid #444444;
          border-collapse: collapse;
        }
        th, td {
          border: 1px solid #444444;
          padding: 10px;
        }
    </style>
</head>
<body>
<h1 >전체 유저 정보</h1>
<hr/>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>email</th>
            <th>role</th>
            <th>provider</th>
            <th>provider id</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${memberList}">
            <td  th:text="${member.id}"> id </td>
            <td  th:text="${member.username}"> username </td>
            <td  th:text="${member.email}"> email </td>
            <td  th:text="${member.role}"> role </td>
            <td  th:text="${member.provider}"> provider </td>
            <td  th:text="${member.providerId}"> providerId </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>